* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 10px;
}
body {
  background-color: lightgrey;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  font-size: 3rem;
  padding: 10px;
  border: 5px solid black;
  background-color: white;
  color: black;
}
